// COLORS
$color-primary: #fff;
$color-secondary: #ccc;
$main-bg-color: rgb(154,193,218);

// GRADIENT
$main-gradient: linear-gradient(173deg, rgba(154,193,218,1) 0%, rgba(41,143,202,1) 100%);

// FONTS
$font-stack: "Roboto", "Arial", sans-serif;
